{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}

{% block content %}
<style>
    .container {
        background-color: white;
       
     
        
    }

   .bt-n{
    border: none;
    border-radius: 5px;
    height: 40px;
    transition: 300ms;
        a {
            
            display: block;
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-size: 16px;


        }
    }

    .s-1 {
        color: black;
        line-height: 40px;
        width: 100%;
        padding-right: 20px;
	white-space: nowrap;

    }
    .s-3{
        width: 100%;
        padding-right: 50px;
        line-height: 40px;
    }
    .img-cover-outline{
    img{
        height: 60%;
    }
}
hr {
  border: none;
  border-top: 2px solid #5f5d5d;
}
.custom-btn{
   transition: 300ms;
    &:hover{
        transform: translateY(-8px);
       
    }
}

</style>
<section class="content pb-5">
    <div class="container rounded-3  mb-5">
        <div class="row ">
            <div class="col-md-3 p-0 d-flex justify-content-start flex-column align-items-center " style="background-color:  #dcdcdc;">
                <div class="profile-photo d-flex justify-content-center align-items-center w-100 " style="height: 300px;">
               {% for holding in holdings %}
                    {% if holding.profile_pic == "" %}
                    بدون تصویر
                    {% else %}
                    <div class="img-cover-outline w-100 h-100 bg-info d-flex justify-content-center align-items-end rounded-bottom-circle ">
                    <img class="img-fluid mb-4 img-circle object-fit-cover w-75" src="{{ holding.profile_pic }}" alt="Your Photo" style="outline: white solid;">
                    {% endif %}
                </div>
                </div>
                <div class="info mt-3  w-100 d-flex justify-content-start flex-column align-items-center text-end ">
                 <span class="s-1"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;نام و نام خانوادگی</span>
                    <span class="s-3">{{holding.first_name}}  {{holding.last_name}}</span>
                   <span class="s-1"><i class="fa-solid fa-id-card-clip"></i>&nbsp;&nbsp;کد پرسنلی</span>
                    <span class="s-3 ">{{ user.personel_code }}</span>
                    <span class="s-1"><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;ایمیل سازمانی</span>
                    <span class="s-3">{{holding.email}}</span>
                    <span class="s-1"><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;شماره همراه</span>
                    <span class="s-3 ">{{ request.user.mobile_number|default:"ثبت نشده" }}</span>

                    <div class="lower-cover d-flex flex-column align-items-center mt-4 bg-info w-100 rounded-top-pill text-light " style="height: 180px;justify-content: center;line-height: 40px;">
                    <a href="{% url 'edit_holding_user_picture' holding.holding.id %}" class="btn btn-info w-75 mt-5 border-1 border-light"><i class="fa fa-pen"></i>&nbsp;&nbsp;ویرایش عکس</a>
                   <a href="{% url 'edit_holding_user_password' holding.holding.id %}" class="btn btn-info mt-2 w-75 border-1 border-light"><i class="fa fa-pen"></i>&nbsp;&nbsp;ویرایش پسورد</a>
                </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="user-info w-full mt-3">
                    <div class="d-flex align-items-center mt-5 ">
                
                    <h4 class="mx-2 mb-0"><i class="fa-solid fa-briefcase"></i>&nbsp;&nbsp;{{ user.position }}</h4>
                    <hr style="width:65%;padding-right: 40px;">
                            </div>
                    </div>
                    <div class="user-info-main w-75 mt-4">
                        <table class="table table-borderless me-3 font-weight-bold">
                            <tbody>
                                <tr>
                                    <td><i class="fa-solid fa-building"></i>&nbsp;&nbsp; شرکت</td>
                                    <td>{{ user.company }}</td>
                                </tr>
                                <tr>
                                    <td><i class="fa-solid fa-building-un"></i>&nbsp;&nbsp;واحد</td>
                                    <td>{{ request.user.unit|default:"ثبت نشده" }}</td>
                                </tr>
                                <tr>
                                    <td><i class="fa-solid fa-phone-volume"></i>&nbsp;&nbsp;شماره تلفن داخلی</td>
                                    <td>{{ request.user.internal_company_phone_number|default:"ثبت نشده" }}</td>

                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="career w-full">
                        <div class="d-flex align-items-center mt-5 ">
                
                    <h4 class="mx-4 mb-0"><i class="fa-solid fa-briefcase"></i>&nbsp;&nbsp;اطلاعات تکمیلی</h4>
                    <hr style="width: 65%;">
                            </div>
                        <div class="user-career-info w-50 mt-4">
                            <table class="table table-borderless me-3 font-weight-bold">
                                <tbody>
                                    <tr>
                                        <td><i class="fa-solid fa-calendar-days"></i>&nbsp;&nbsp;تاریخ استخدام</td>
                                        <td>{{ user.hiring_date }}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa-solid fa-cake-candles"></i>&nbsp;&nbsp;تاریخ تولد</td>
                                        <td>{{ request.user.jalili_birthday_datetime|date:"Y/m/d" }}</td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa-solid fa-id-card"></i>&nbsp;&nbsp;کد ملی</td>
                                        <td>{{ request.user.national_code|default:"ثبت نشده" }}</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr style="background-color:lightgray;height:1px;width: 100%;">

                    <div class="button-section w-100 mt-4">
                         <nav class="w-full d-flex flex-row gap-2 mt-4 align-items-center ">
                        <a href="#" class="btn btn-info custom-btn w-25"><i class="fa-solid fa-folder-open"></i>&nbsp;&nbsp;پرونده پرسنلی</a></button>
                        <a href="#" class="btn btn-info custom-btn w-25"><i class="fa fa-download"></i>&nbsp;&nbsp;شرح شغل</a></button>
                        <a href="#" class="btn btn-info custom-btn w-25"><i class="fa-solid fa-file"></i>&nbsp;&nbsp;احکام</a></button>
                        <a href="#" class="btn btn-info custom-btn w-25"><i class="fa-solid fa-list-check"></i>&nbsp;&nbsp;ارزیابی علمکرد</a></button>
                        </nav>
                        </div>
                        <div class="button-section-part2 w-100 d-flex flex-row align-items-center gap-2 mt-4">
                        <a href="#"  class="btn btn-info custom-btn w-25"><i class="fa-solid fa-chart-simple"></i>&nbsp;&nbsp;چارت سازمانی</a></button>
                        <a href="#" class="btn btn-info custom-btn w-25"><i class="fa-solid fa-money-check-dollar"></i>&nbsp;&nbsp;فیش حقوقی</a></button>
                        <a href="#" class="btn btn-info custom-btn w-25"><i class="fa-solid fa-chart-line"></i>&nbsp;&nbsp;کارکرد ماهانه</a></button>
                        <a href="#" class="btn btn-info custom-btn w-25"><i class="fa-solid fa-paste"></i>&nbsp;&nbsp;دوره های آموزشی</a></button>
                        </div>
                </div>
            </div>
           {% endfor %}
        </div>
    </div>
    </div>
    {% endblock content %}