{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{{ page_title }}</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead class="thead-dark">
                                <tr>
                                    <th>#</th>
                                    <th>نام کامل</th>
                                    <th>ایمیل</th>
                                    <th>جنسیت</th>
                                    <th>سازمان</th>
                                    <th>تصویر</th>
                                    <th>اقدام</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for holding in holdings %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ holding.last_name }}, {{ holding.first_name }}</td>
                                        <td>{{ holding.email }}</td>
                                        <td>{{ holding.gender }}</td>
                                        <td>{{ holding.holding.organ.name }}</td>
                                        <td>
                                            {% if holding.profile_pic == "" %}
                                                بدون تصویر
                                            {% else %}
                                                <img class="img img-fluid mb-2" height="56" width="56"
                                                     src="{{ holding.profile_pic }}" alt="">
                                            {% endif %}
                                        </td>
                                    
                                        <td><a href="{% url 'edit_holding' holding_id=holding.id %}" class="btn btn-info">ویرایش</a>
                                            -
                                            <a href="{% url 'delete_holding' holding_id=holding.id %}"
                                               class="btn btn-danger"
                                               onclick="return confirm('Are you sure about this ?')">حذف</a>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}