{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}
 <style>
        .news_page {
        }

        .news_all_of_page {
            background-color: white;
            margin-top: 50px;
            width: 60%;
            margin: auto;
            border: 5px solid #124E66;
            border-radius: 3%;
        }

        .news_top_header {
            background-color: #124E66;
            color: white;
            margin-bottom: 15px;
        }

        .news_phragraph {
            font-size: 20px;
            line-height: 2.3;
        }

        .back_button {
            color: white;
            background-color: #2E3944;
            border: 2px solid white;
            padding: 8px 25px;
            border-radius: 8%;
            float: left;
            margin-left: 15px;
            display: inline-block;
        }
        .back_button:hover{
            color: skyblue;
            border: 2px solid skyblue;
        }
    </style>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card_holding_news news_page">
                        <div class="card-header news_top_header">
                            {% url 'all_news' as all_news %}
                            <a href="{{ all_news }}" class="back_button">بازگشت</a>
                            <h4 style="text-align: center;margin-right: 115px;">اخبار</h4>
                        </div>
                        <div class="card-body news_all_of_page">

                            <img src="{% static 'media/news_image_golfam_1.jpg' %}" class="img-circle elevation-2"
                                 style="width:70%;border-radius: 4%;margin-bottom: 30px;margin-right: 15%"
                                 alt="User Image">
                            <table id="example2" class="table table-bordered table-hover">
                                <h3 style="color:darkgreen;margin-bottom: 20px;">خواص سرکه سیب برای لاغری</h3>
                                <p class="news_phragraph" style="color:#0c5460;">با اینکه سرکه سیب برای لاغری معروف است؛ اما در کنار آن خواص
                                    دیگری نیز دارد. از مهمترین فواید آن برای سلامتی و کنترل بیماری های مختلف می توان به
                                    موارد مهم زیر اشاره نمود:

                                    ضدعفونی کننده قوی
                                    کمک به کنترل دیابت
                                    درمان اگزمای پوستی
                                    بهبود سندروم تخمدان پلی کیستیک
                                    ضد باکتری و ضد قارچ
                                    ارتقا سلامت پوست
                                    ۱- ضدعفونی کننده قوی

                                    در طب سنتی و از گذشته‌های دور که مواد ضدعفونی‌کننده کمتر بودند، از سرکه سیب برای
                                    ضدعفونی کردن سطوح و حتی درمان قارچ، شپش، عفونت گوش و حتی زگیل استفاده می‌کردند. سرکه
                                    سیب به دلیل اسیدی که در آن وجود دارد، خاصیت ضدعفونی‌کنندگی دارد و همچنین می‌تواند در
                                    افزایش ماندگاری مواد غذایی تاثیرگذار باشد.

                                    ۲- کنترل دیابت

                                    دیابت نوع دو که بر اثر عدم تحرک و سبک زندگی نادرست به وجود می‌آید، منجر به افزایش
                                    قند خون و مقاومت به انسولین می‌شود. یکی از خواص سرکه سیب، کاهش قند خون است که
                                    می‌تواند به کنترل و درمان این نوع دیابت کمک کند و همچنین برای پیشگیری از آن، در
                                    افرادی که به دیابت مبتلا نیستند؛ موثر باشد. این موضوع مورد تحقیق قرار گرفته و تاثیر
                                    سرکه سیب بر کاهش قند خون اثبات شده است.

                                    ۳- درمان اگزمای پوستی

                                    بسیاری از افراد برای درمان خشکی و اگزمای پوست از سرکه سیب استفاده می‌کنند که به
                                    میزان اندکی در محصولات مراقبت پوستی نیز به کار رفته است. اگزما و خشکی پوست اغلب به
                                    دلیل PH قلیایی موجود در صابون‌ها ایجاد می‌شود و به همین دلیل اسیدی بودن سرکه سیب در
                                    کاهش خشکی و اگزما برای برخی از افراد کمک کننده است. همچنین می‌تواند برای کاهش
                                    عفونت‌های پوستی نیز موثر باشد. البته بهتر است هیچگاه بدون نظر متخصص از سرکه سیب برای
                                    پوست خود استفاده نکنید زیرا ممکن است به آن آسیب بزند.

                                    ۴- بهبود سندروم تخمدان پلی کیستیک

                                    در برخی از افراد به دلیل ایجاد حساسیت به انسولین ممکن است عارضه تخمدان پلی‌کیستیک
                                    ایجاد شود. در تحقیقی که انجام شده است، با مصرف آن به مدت یک ماه و نیم تا ۱۱۰ روز، ۵۷
                                    درصد از افراد توانستند تخمدان پلی کیستیک وتنبلی تخمدان خود را درمان کرده و دوباره
                                    تخمک گذاری داشته باشند.

                                    ۵- به کشتن باکتری های مضر کمک کند

                                    سرکه می تواند به کشتن باکتری ها کمک کند.مردم به طور سنتی از سرکه برای تمیز کردن و ضد
                                    عفونی کردن، درمان قارچ ناخن، شپش، زگیل و عفونت گوش استفاده می کردند.

                                    گزارش‌های حکایتی همچنین حاکی از آن است که سرکه سیب رقیق شده می‌تواند به درمان اکنه
                                    کمک کند، اما به نظر نمی‌رسد که هیچ تحقیق قوی برای تأیید این موضوع وجود نداشته باشد.

                                    ۶- سلامت پوست را ارتقا می بخشد

                                    سرکه سیب یک درمان رایج برای بیماری های پوستی مانند پوست خشک است. پوست به طور طبیعی
                                    کمی اسیدی است. استفاده از سرکه سیب موضعی می تواند به تعادل مجدد pH طبیعی پوست کمک
                                    کند و سد محافظ پوست را بهبود بخشد. از سوی دیگر، صابون های قلیایی و پاک کننده ها می
                                    توانند اگزما را تحریک کرده و علائم را بدتر کنند. سرکه سیب با توجه به خواص ضد
                                    باکتریایی خود، در تئوری می تواند از عفونت های پوستی مرتبط با اگزما و سایر بیماری های
                                    پوستی جلوگیری کند.برخی افراد از آن به صورت رقیق شده برای شستشوی صورت یا تونر استفاده
                                    می کنند.

                                    بهترین ایده این است که می تواند باکتری ها را از بین ببرد و از ایجاد لکه ها جلوگیری
                                    کند.</table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}