{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}
 <style>
        .news_page {
        }

        .news_all_of_page {
            background-color: white;
            margin-top: 50px;
            width: 60%;
            margin: auto;
            border: 5px solid #124E66;
            border-radius: 3%;
        }

        .news_top_header {
            background-color: #124E66;
            color: white;
            margin-bottom: 15px;
        }

        .news_phragraph {
            font-size: 20px;
            line-height: 2.3;
        }

        .back_button {
            color: white;
            background-color: #2E3944;
            border: 2px solid white;
            padding: 8px 25px;
            border-radius: 8%;
            float: left;
            margin-left: 15px;
            display: inline-block;
        }
        .back_button:hover{
            color: skyblue;
            border: 2px solid skyblue;
        }

    </style>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card_holding_news news_page">
                        <div class="card-header news_top_header">
                            {% url 'all_news' as all_news %}
                            <a href="{{ all_news }}" class="back_button">بازگشت</a>
                            <h4 style="text-align: center;margin-right: 115px;">اخبار</h4>
                        </div>
                        <div class="card-body news_all_of_page">

                            <img src="{% static 'media/news_image_zobahan_1.jpg' %}" class="img-circle elevation-2"
                                 style="width:70%;border-radius: 4%;margin-bottom: 30px;margin-right: 15%"
                                 alt="User Image">
                            <table id="example2" class="table table-bordered table-hover">
                                <h3 style="color:darkgreen;margin-bottom: 20px;">شرکت صنایع ذوب آهن شمالغرب ( NWSI) در
                                    زمینی به مساحت تقریبی ۹۱ هکتار در فاصله حدود ۱۶۰ کیلومتری تبریز- ملکان (۵ کیلومتری
                                    جاده آروق) احداث میگردد . محل پروژه بدلیل نزدیکی به خطوط انتقال برق، گاز، آب تصفیه
                                    شده از زرینه رود و راه آهن انتخاب و پیش بینی میشود برای نزدیک به ۱۰۰۰ نفر اشتغال
                                    مستقیم و برای ۵۰۰۰ نفر نیز اشتغال غیر مستقیم ایجاد کند . برق پروژه بمیزان تقریبی ۱۳۰
                                    مگا وات از خط ۲۳۰ کیلو ولت تامین و گاز طبیعی مصرفی آن نیز بمیزان ۴۱۰۰۰ نرمال متر
                                    مکعب در ساعت از خط لوله در دست احداث ۱۰۰۰ پوندی گاز تامین خواهد شد . آب مصرفی پروژه
                                    نیز از خط آب تصفیه شده طرح انتقال آب رود خانه زرینه رود از میاندوآب به تبریز و
                                    شهرهای مسیر قابل تامین می باشد . مواد اولیه پروژه که عمدتاً به صورت گندله می باشد
                                    بوسیله راه آهن در دست احداث مراغه – ارومیه حمل خواهد شد . ظرفیت اسمی این واحد تولید
                                    ۸۰۰.۰۰۰ تن بیلت ( شمش آهن ) و ۸۰۰.۰۰۰ تن آهن اسفنجی و حدود ۶۰۰.۰۰۰ تن انواع میلگرد
                                    ساختمانی در سال خواهد بود .</h3>
                                <p class="news_phragraph" style="color:#0c5460;">صنعت آهن


                                    فرم خالص آهن فلزي با جلاي نقره اي و ته رنگ خاکستري است و چون به سهولت در معرض هوا
                                    اکسيد مي شود، ندرتاً به صورت ناتيو يافت مي شود. آهن به ميزان حدود 5 درصد در پوسته
                                    زمين رها شده است و کاني هاي آن از نظر ترکيب و شکل ظاهر بسيار متنوع هستند. معمول ترين
                                    کاني هاي آهن اکسيدهاي با رنگ هايي از خاکستري تا زرد يا قرمز هستند که مهمترين آنها
                                    مگنتيت (Fe3O4 ) و هماتيت (Fe2O3 ) هستند. ساير کاني هاي معمول آهن اکسيدهاي هيدراته
                                    مثل گوتيت (FeO(OH)) و ليمونيت (FeO(OH).nH2O) و کاني کربناته (FeCO3) هستند. مهمترين
                                    منابع تجارتي ماده معدني آهن ساختارهاي لايه اي آهن (BIF) هستند که در سنگ هاي
                                    پروتروزوئيک يافت مي شوند. منابع تجارتي معمولاً آن منابعي هستند که توسط فرآيندهاي
                                    طبيعي ثانويه تا عياري حدود 65 درصد آهن غني شده باشند.


                                    توده هاي ماگمايي نيز مي توانند منابعي براي مقادير بزرگ مگنتيت باشند. بزرگترين توده
                                    آهن ماگمايي شناخته شده تاکنون کايروناي سوئد است. ذخيره ماده معدني آهن جهان حدود
                                    150ميليارد تن برآورد مي شود که حاوي 73 ميليارد تن آهن است. اکراين و روسيه به ترتيب
                                    بزرگترين ذخاير آهن جهان را دارا هستند. سنگ آهن در مقياس بزرگ (بيش از يک ميليون تن در
                                    سال) علاوه بر ايران در روسيه ، سوئد، اکراين، موريتاني، آفريقاي جنوبي، کانادا، مکزيک،
                                    ايالات متحده آمريکا، برزيل، هندوستان، قزاقستان و استراليا توليد مي شود و بزرگترين
                                    توليد کننده آن چين است.

                                    استخراج عمده سنگ آهن دنيا با روشهاي استخراج سطحي و به خصوص به روش روباز و به کمک
                                    حفاري و انفجار و سيستم شاول/ لودر و کاميون صورت مي گيرد. هر چند که استخراج زيرزميني
                                    آهن با روشهايي مثل استخراج از طبقات فرعي و تخريب بلوکي نيز صورت گرفته است. فرآوري
                                    سنگ آهن عمدتاً به روش جداسازي مغناطيسي، جداسازي ثقلي و فلوتاسيون

                                    خطوط تولید
                                    پروژه ذوب آهن شمالغرب از ۳ واحد بزرگ احیاء مستقیم، ذوب و ریخته گری و واحد نورد تشکیل
                                    میگردد. در واحد احیاء سنگ آهن که بصورت گندله می باشد در تماس با گاز احیاء که در واحد
                                    ریفورمر و بوسیله گاز طبیعی تولید شده است، احیاء و آهن اسفنجی تولیدی بهمراه مقادیری
                                    آهن قراضه به واحد ذوب و ریخته گری انتقال یافته و در کوره ای بنام کوره قوس الکتریکی
                                    به کمک جریان برق و از طریق الکترودهایی ذوب شده بعد از تخلیه به پاتیل های ذوب به واحد
                                    ریخته گری مداوم انتقال و در آنجا بصورت محصول شمش (بیلت) با مقاطع مختلف مربعی شکل به
                                    ابعاد ۱۳x۱۳ تا ۱۸x۱۸ سانتیمتر و در طولهای ۶ الی ۱۲ متر ریخته گری میشود، سپس این
                                    محصول به واحد نورد جهت تولید انواع میلگرد های ساختمانی ارسال و مازاد آن نیز به سایر
                                    واحدهای نورد جهت تولید میلگرد، نبشی ، تسمه و … تحویل خواهد شد .

                                    استقرار مدل تعالی سازمانی در سازمان های ایرانی گامی بنیادین ، برای حضور در عرصه
                                    رقابت جهانی است . زیرا مضمون و مفاهیم ارائه شده در مدل تعالی سازمانی،همان تجربه های
                                    موفق و رویکردهای سازمان برتر جهانی است . طبیعی است سازمانی که بتواند این خواست ها را
                                    پیاده کند ، می تواند در محیط رقابتی ، بدون دغدغه حضور فعال داشته باشد. تدوین چشم
                                    انداز ، اهداف استراتژیک و استراتژی ها در سطح سازمان و پیاده سازی آنها تا سطوح پایین
                                    تر جهت ایجاد درک مشترک آحاد سازمان از برنامه ها و نقش خود در پیشبرد آنها و همچنین
                                    سازماندهی مناسب برای ایجاد دارایی های نامشهود و تغییر باورها، اندیشه ها ، رویکردها و
                                    قابلیت های راهبری و مدیریتی سازمان در این خصوص می تواند موثر واقع شود.

                                    شرکت صنایع ذوب آهن شمالغرب ( NWSI) در زمینی به مساحت تقریبی ۹۱ هکتار در فاصله حدود
                                    ۱۶۰ کیلومتری تبریز- ملکان (۵ کیلومتری جاده آروق) احداث میگردد . محل پروژه بدلیل
                                    نزدیکی به خطوط انتقال برق، گاز، آب تصفیه شده از زرینه رود و راه آهن انتخاب و پیش
                                    بینی میشود برای نزدیک به ۱۰۰۰ نفر اشتغال مستقیم و برای ۵۰۰۰ نفر نیز اشتغال غیر
                                    مستقیم ایجاد کند . برق پروژه بمیزان تقریبی ۱۳۰ مگا وات از خط ۲۳۰ کیلو ولت تامین و
                                    گاز طبیعی مصرفی آن نیز بمیزان ۴۱۰۰۰ نرمال متر مکعب در ساعت از خط لوله در دست احداث
                                    ۱۰۰۰ پوندی گاز تامین خواهد شد . آب مصرفی پروژه نیز از خط آب تصفیه شده طرح انتقال آب
                                    رود خانه زرینه رود از میاندوآب به تبریز و شهرهای مسیر قابل تامین می باشد . مواد
                                    اولیه پروژه که عمدتاً به صورت گندله می باشد بوسیله راه آهن در دست احداث مراغه –
                                    ارومیه حمل خواهد شد . ظرفیت اسمی این واحد تولید ۸۰۰.۰۰۰ تن بیلت ( شمش آهن ) و
                                    ۸۰۰.۰۰۰ تن آهن اسفنجی و حدود ۶۰۰.۰۰۰ تن انواع میلگرد ساختمانی در سال خواهد بود .
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}