{% extends 'main_app/base.html' %} {% load static %} {% block page_title %}{{
page_title }}{% endblock page_title %} {% block content %}
<style>


  .tool:hover .tooltiptext {
    visibility: visible;
  }

  .content .container-fluid .col-lg-4 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted darkgray;
  }

  .col-lg-4 .tooltiptext {
    visibility: hidden;
    width: 240px;
    background-color: darkgray;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-weight: bold;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;

    display: block;
    margin-right: 125px;
    margin-top: -150px;
    opacity: 80%;
  }

  .col-lg-4:hover .tooltiptext {
    visibility: visible;
  }

  @media only screen and (max-width: 800px) {
    /* For tablets: */
    .tooltiptext {
      width: 50px;
      display: none;
    }

    .tool {
      width: 50px;
    }

    .button_box {
      width: 100% !important;
    }
  }

  .rotated:hover {
    transition-delay: 1s;
    transform: rotate(30deg);
  }

  .box:hover {
    animation-name: rotate;
    animation-duration: 0.7s;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .container {
    margin: 0 auto;
    padding: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }

  th,
  td {
    padding: 10px;
    background-color: rgba(45, 169, 194, 0.8);
    color: #fff;
    text-align: center;
    width: 50px;
    border: 2px solid white;
  }

  th {
    text-align: center;
  }

  thead th {
    background-color: dodgerblue;
  }


  tbody td {
    position: relative;
  }

  tbody td:hover:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: -1;
  }

  .row {
    margin: auto;
  }

  .a_href {
    color: white;
    font-size: 25px;
  }

  .container {
    margin: 0 auto;
    padding: 20px;
  }

  .table_style {
    overflow-x: auto;
    overflow-y: auto;
    max-width: 100%;
    direction: rtl;
  }

  a.full-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: inherit;
  }
  a{
    &:hover{
        color: red;
        transition: 300ms;
    }
  }
</style>

<section class="content bg-body-secondary">
  <div class="container-fluid">
    <div class="row">
      <div
        class="container table_style d-flex justify-content-between align-items-center flex-column"
      >
        <div class="title  w-75 pt-2 ">
          <h5 style="color: rgb(0, 0, 0); text-align: center;font-family:vazir;text-shadow: 5px 5px 20px rgba(0, 0, 0);">
            شما می توانید در این صفحه فیش های حقوقی خود را بر اساس تاریخ مورد
            نظر دانلود نمایید
          </h5>
        </div>
        <div class="col-md-9 pb-5">
          <table class="table table-primary table-borderless mt-5 rounded-3 table-responsive-md  align-middle" style="font-family: vazir;box-shadow: 0px 0px 10px rgb(79, 102, 204);">
            <tbody>
              <tr>
                <th>شرکت</th>
                <th>نام</th>
                <th>نام خانوادگی</th>
                <th>تاریخ فیش حقوقی</th>
                <th>لینک دانلود</th>
              </tr>
              {% for student_file in student_files %}
              <tr>
                <td>{{ student_file.company }}</td>
                <td>{{ student_file.first_name }}</td>
                <td>{{ student_file.last_name }}</td>
                <!--student_file.email-->
                <!--student_file.date-->
                <!--student_file.file_name-->
                <!--student_file.subject-->
                <td>{{ student_file.jalali_date }}</td>
                <td>
                  <a
                    class="a_href full-link"
                    href="{{ student_file.file.url }}"
                    style="font-size: 20px;"
                    download
                    >دانلود</a
                  >
                </td>
               
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
