{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}
 <style>
        .news_page {
        }

        .news_all_of_page {
            background-color: white;
            margin-top: 50px;
            width: 60%;
            margin: auto;
            border: 5px solid #124E66;
            border-radius: 3%;
        }

        .news_top_header {
            background-color: #124E66;
            color: white;
            margin-bottom: 15px;
        }

        .news_phragraph {
            font-size: 20px;
            line-height: 2.3;
        }

        .back_button {
            color: white;
            background-color: #2E3944;
            border: 2px solid white;
            padding: 8px 25px;
            border-radius: 8%;
            float: left;
            margin-left: 15px;
            display: inline-block;
        }
        .back_button:hover{
            color: skyblue;
            border: 2px solid skyblue;
        }

    </style>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card_holding_news news_page">
                        <div class="card-header news_top_header">
                            {% url 'all_news' as all_news %}
                            <a href="{{ all_news }}" class="back_button">بازگشت</a>
                            <h4 style="text-align: center;margin-right: 115px;">اخبار</h4>
                        </div>
                        <div class="card-body news_all_of_page">

                            <img src="{% static 'media/news_image_taraghi.jpg' %}" class="img-circle elevation-2"
                                 style="width:70%;border-radius: 4%;margin-bottom: 30px;margin-right: 15%"
                                 alt="User Image">
                            <table id="example2" class="table table-bordered table-hover">
                                <h3 style="color:darkgreen;margin-bottom: 20px;">ادویه‌های ترشی و سبزیجات ترشی</h3>
                                <p class="news_phragraph" style="color:#0c5460;">ادویه‌های ترشی

                                    ترشی یک چاشنی عالی برای بسیار از غذاهاست. ادویه‌ها نقش پر رنگی در زندگی ما ایفا
                                    می‌کنند. در بسیاری از غذاها ما از ترکیبی از ادویه‌ها استفاده می‌کنیم. ادویه‌ها بجز
                                    طعم خوبی که به خوراکی‌های ما هدیه می‌دهند، عطر خوراکی را دوچندان می‌کنند. این
                                    افزودنی‌ها بغییر از ارزش غذایی خود، توانایی‌های دارویی هم دارند. ادویه‌های ترشی یک
                                    انتخاب هستند و بیشتر بر اساس ذائقه افراد می‌توان متوجه شد که کدام ادویه‌ها
                                    مناسب‌ترند. اما با این حال ما همه ادویه‌های ترشی را برای شما معرفی می‌کنیم. البته که
                                    وجود سرکه و نمک در هر ترشی واجب و الزامی است، اما باقی مواد سلیقه‌ای است.

                                    پودر تخم گشینیز

                                    تخم گشینیز از خانواده گیاه جعفری است. این قهوه‌ای رنگ و درشت بسیار پر خاصیت است. تخم
                                    گشینیز بر پوست و مو و همچنین تقویت‌ آن‌ها تاثیرگذار است؛ این دانه با کاهش کلسترول
                                    خون کمک می‌کند و دیابت را نیز تا حدی کنترل می‌کند. این دانه بسیار پر خاصیت است.

                                    پودر انواع فلفل‌ها

                                    اگر ادویه‌های ترشی فاقد فلفل باشند، ترشی دیگر یک ترشی خوب نیست. البته که این دیدگاه
                                    کمی شخصی بنظر می‌آید ولی فلفل می‌تواند طعم ترشی‌ را بسیار معتدل‌تر کند و طبع ‌آن را
                                    گرم‌تر کند.

                                    فلفل سیاه، فلفلی است که بر اساس باور عموم تندی کمتری دارد. این فلفل بسیار پر خاصیت
                                    است و به دستگاه گوارشی کمک می‌کند. این ادویه دارای منیزیم، فیبر و آهن است. این فلفل
                                    به سیستم دفاعی بدن کمک می‌کند و خاصیت ضدباکتریایی و آنتی‌ اکسیدانی دارد.

                                    فلفل قرمز نیز منبعی غنی از مواد معدنی و ویتامین‌هاست و مانند فلفل سیاه از ارزش غذایی
                                    بالایی برخوردارست.

                                    رازیانه

                                    رازیانه به قدری برای پوست مفید است که آن را گیاه ضد پیری معرفی می‌کنند. این گیاه
                                    منبعی از ویتامین‌های B و C است. این گیاه که با اضافه شدن به ادویه‌های ترشی شما
                                    می‌تواند ترشی شما را معطر سازد، خاصیت‌هایی همچون جلوگیری از سرطان و پوکی استخوان
                                    دارد. همچنین می‌تواند از پیری چشم نیز جلوگیری کند.

                                    جوز هندی

                                    این ادویه را دست کم نگیرید! این ادویه نیز توانایی‌های بالایی دارد اما در کشور ما کم
                                    مورد استفاده قرار می‌گیرد. این ادویه توانایی‌های همچون: تسکین درد، بهبود گوارش،
                                    بهبود سلامت مغز، سم زدایی در بدن، سلامت دهان، درمان بی‌خوابی را دارد.

                                    یکی از مهمترین توانایی‌های این ماده، در درمان سرطان خون است. مراقبت از پوست وتنظیم
                                    فشار خن را نیز به این گیاه اضافه کنید تا به تاثیرات دارویی و فواید آن پی ببرید تا آن
                                    را به لیست ادویه‌های ترشی خود اضافه کنید.

                                    زیره

                                    زیره گیاهی ضد نفخ و معطر است و به دو شکل سبز و سیاه در جهان موجود است. زیره دارای
                                    طبعی گرم و خشک است و باعث می‌شود از سردی ترشی کاسته شود. این گیاه دارای آهن، فیبر،
                                    منیزیم، آنتی اکسیدان‌ها و ویتامین A است. از جمله توانایی‌های دارویی این گیاه،
                                    می‌توان به مواردی همچون: کمک به هضم، درمان هموروئید، تقویت سیستم ایمنی، کاهش وزن و
                                    سلامت پوست اشاره کرد. البته توانایی‌های این گیاه به اینجا ختم نمی‌شود. این گیاه
                                    خاصیت ضد التهاب و ضد میکروبی دارد و می‌تواند به درمان افسردگی کمک کند.

                                    دارچین

                                    این ادویه را حتما به لیست ادویه‌های ترشی خود اضافه کنید!

                                    دارچین در تاریخ به راحتی قابل لمس است و از ادویه‌هایی است که از زمان‌های دور، مردمان
                                    از این ماده بهره می‌بردند. مورخین معتقد هستند که در برهه‌ای از تاریخ ارزشی بالاتر از
                                    طلا داشت!

                                    خواص این ادویه بسیار زیاد است و توسط طبیبان طب سنتی، توصیه می‌شود که جدایی از مصرف
                                    همراه با غذا، این ادویه را جوشانده و از محصول حاصل به صورت داغ، بخصوص در فصل سرما
                                    استفاده کنید. دارچین برای تقویت سیستم ایمنی بسیار مفید است. همچنین برای کنترل قند و
                                    کلسترول بسیار تاثیر گذار است. همچنین این ادویه می‌تواند از این موارد جلوگیری کند:
                                    آلزایمر، عفونت، بیمار‌های قلبی، سرطان و بسیاری موارد دیگر. این ادویه به گردش خون کمک
                                    می‌کند و باعث سلامت دهان و دندان می‌شود.

                                    برای تشریح دارچین نیازمند یک مقاله جدا هستیم و بنظر تا همین قسمت، توضیحات این ادویه
                                    کافی باشد. حال باز هم این ادویه را کنار خواهید گذاشت؟

                                    گلپر

                                    مصریان باستان در حدود ۴۰۰۰ سال پیش از این گیاه بهره می‌جستند و برای درمان برخی
                                    بیماری‌ها مانند: تشنج، التهاب و بیماری‌های قارچی استفاده می‌کردند. این گیاه ضدمیکروب
                                    قویی است ودشمن اصلی رادیکال‌های آزاد. رادیکال‌های آزاد، به اندام‌های مهم مانند قلب
                                    وکبد ضربه می‌زنند. از دیگر ویژگی‌های این گیاه ضدالتهابی، ترمیم کننده زخم‌هاست. این
                                    گیاه برای کنترل وبازسازی ماهیچه‌ها، عضلات، استخوان‌ها و غضروف‌ها نیز بسیار موثر است.
                                    این گیاه نیز ضد دیابت است و برای لاغری قابل استفاده است.

                                    سبزیجات ترشی

                                    سبزیجات ترشی شامل نعناع، ترخان، مرزه، گشنیز، جعفری، ریحان و شوید است. این سبزی‌ها به
                                    هفت سبزی معروف هستند، اما غالبا در همه ترشی‌ها به شکل یکجا مورد استفاده قرار
                                    نمی‌گیرند. در میان این سبزیجات ترشی از نعناع، ترخان، مرزه، گشنیز و شوید بیشتر
                                    استفاده می‌شود. قطعا شما برخی از این سبزیجات آشنا هستید؛ این سبزیجات ترشی، بسیار
                                    معطر و خوشمزه هستند.

                                    شوید

                                    در میان سبزیجات ترشی، شوید پر رنگ‌ترین نقش را دارد و نقش اول است. شوید سرشار از
                                    ویتامین A و C است وبسیار کم کالرییست. کلسیم، آهن و منیزیم از جمله مواد معدنی شوید
                                    هستند. این گیاه خاصیت ضد سرطانی دارد، برای کاهش کلسترول خون نقش موثری ایفا می‌کند،
                                    سرشار از آنتی اکسیدان است و می‌تواند کیفیت خواب را افزایش دهد.

                                    گشنیز

                                    این گیاه یک کنترل کننده فشار خون است، برای دستگاه عصبی بسیار مفید است و از بروز
                                    بیماری‌های قلبی و عروقی جلوگیری می‌کند.

                                    نعناع

                                    نعناع برای درمان سردرد، تب، حالت تهوع، اختالات گوارشی و… بسیار مفید است. این گیاه
                                    نشاط آور است و روغن آن برای درمان گرفتگی عضلات موثر است. همچینین این گیاه برای
                                    جلوگیری از ابتلا به برخی از سرطان‌ها مانند کبد و ریه بسیار مفید است.

                                    ترخان

                                    ترخان یا همان منبع آهن، کلسیم و منگنز، به هضم غذا کمک می‌کند و پیشگیرنده از ابتلا به
                                    چاقی و بیماری‌ها قلبی است.

                                    مرزه

                                    این گیاه هم خانواده با نعناع است. این گیاه برای پوست بسیار مفید است، مخصوصا برای
                                    گزیدگی و نیش خوردگی. این گیاه میل جنسی را افزایش داده، خاصیت ضد عفونی کنندگی دارد و
                                    به کاهش وزن کمک می‌کند.

                                    ریحان

                                    این گیاه برای برای درمان میگرن و سردرد تاثیر دارد و همچنین برای درمان سرفه و تنگی
                                    نفس هم خاصیت دارد. طبع گرم و خشک دارد و برای تعادل ترشی مفید است.

                                    جعفری

                                    این گیاه هم در حالت خشک و هم در حالت عادی در آشپزی، پر مصرف است. از این گیاه آنتی
                                    اکسیدانی بیشتر در تزئین غذاها استفاده می‌کنند و شامل ویتامین‌های مانند A، C و K است.
                                    این گیاه در درمان برخی بیماری‌ها مانند: اختلالات گوارشی، فشار خون بالا، بیماری‌های
                                    قلبی و ادراری و حتی دیابت و بیماری‌های پوستی بسیار موثر است.</table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}