{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}{{ page_title }}{% endblock page_title %}

{% block content %}
<section class="content">
    <div class="container my-5" style="max-width: 700px; position: relative;">

        <a href="{% url 'user_index' %}" class="btn btn-outline-primary mb-4 w-100 shadow-sm fw-semibold" style="font-size: 1.1rem;">
            آپلود فیش حقوقی
        </a>
        <ul id="full-name-suggestions" style="display:none; border:1px solid #ccc; position:absolute; background:#fff; max-height:150px; overflow-y:auto; list-style:none; padding:0; margin:0; width: 100%; z-index: 1000;"></ul>

        <div class="card shadow-sm">
            <div class="card-body bg-light">
                <h5 class="card-title text-center mb-4 text-primary fw-bold">
                    دانلود فیش‌های حقوقی بر اساس تاریخ مورد نظر
                </h5>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover align-middle mb-0" style="background-color: #007BFF; color: white; border-radius: 8px; overflow: hidden;">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">نام فایل</th>
                                <th scope="col">تاریخ شمسی</th>
                                <th scope="col">دانلود</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student_file in student_files %}
                                <tr>
                                    <td>{{ student_file.file_name }}</td>
                                    <td>{{ student_file.jalali_date }}</td>
                                    <td>
                                        <a href="{{ student_file.file.url }}" download class="btn btn-success btn-sm shadow-sm fw-semibold">
                                            دانلود
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td colspan="4" class="text-center text-white fst-italic">فیش حقوقی برای نمایش وجود ندارد.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</section>
{% endblock content %}

